# Standart Laravel .gitignore list
/.idea
/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/dist
/public/css
/public/js
/public/img
/public/images
/public/apps
/public/favicon
/public/fonts
/public/admin
/public/vendor/admin
/resources/assets/sass/sprite
/resources/lang/*
/storage/*.key
/vendor
/hooks
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
.phpstorm.meta.php
_ide_helper.php
/report*
/remoting
remoting.jar
